{% extends "base.html" %}
{% block content %}
    <div class="row header-section">
        <video id="cooking-clip" class="col s12" autoplay muted loop playsinline preload="auto">
        <source src="{{ url_for('static', filename='images/cooking-clip.mp4') }}" type="video/mp4">
        </video>
    </div>

    <!-- Recipe of the week -->
     <div class="row">
        <div>
            <h2 class="center-align">Revolutionise your Recipes!</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card pink darken-4">
                <div class="card-content white-text center-align">
                <span class="card-title">Make some Recipes</span>
                <p>Creating and sharing recipes can be an incredibly joyful experience, allowing individuals to express
                    their creativity and passion for food. When a recipe comes together perfectly, it brings 
                    a sense of accomplishment and satisfaction that's hard to match. Sharing these creations within our
                    community of cooks will create lasting memories.
                </p>
                </div>
                <div class="card-action center-align">
                    <a href="{{ url_for ('recipe') }}" class="waves-effect btn-large orange ">START CREATING</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card pink darken-4">
                <div class="card-content white-text center-align">
                <span class="card-title">Add more Categories</span>
                <p>Have an idea of the kind of recipe you want to share but it doesn't seem to fit any of the already
                   pre-existing categories? Go ahead and create your own! You, alongside other users inside our
                   community, will be able to add as many recipes as desired to these categories, making sharing your
                   recipes easier than ever.
                </p>
                </div>
                <div class="card-action center-align">
                    <a href="{{ url_for ('categories') }}" class="waves-effect btn-large orange ">START CREATING</a>
                </div>
            </div>
        </div>
    </div>

    <!-- your recipes-->
    <div class="row">
        <div>
            <h2 class="center-align">Your recipes</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <!-- If user is logged in -->
        {% if current_user.is_authenticated %}
        {% for category in categories %}
        <div class="col s12 m6">
            <div class="card pink darken-4">
                <div class="card-content white-text center-align">
                <span class="card-title">{{ category.category_title}}</span>
                </div>
                <div class="card-action center-align">
                    <a href="{{ url_for('your_recipes', category_id=category.id) }}" class="waves-effect btn-large orange ">RECIPES</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}