{% extends "base.html" %}
{% block content %}
<div class="row">
    <div>
        <h3 class="center-align">{% block title %} {{ category.category_title}} {% endblock %}</h2>
        <hr>
    </div>
    {% for recipe in category.recipes %}
        <div class="container">
            <div class="row valign-wrapper col s12">
                <div class="center-align recipe-description">
                    <p><span>{{ recipe.recipe_name}}</span>
                        <br>
                        {{ recipe.recipe_description}}
                        <br>
                        &nbsp;
                        <br>
                        <i class="fas fa-edit"></i>&nbsp; Difficulty: {{ recipe.recipe_difficulty}} &nbsp;&nbsp; 
                        <i class="fas fa-edit"></i>&nbsp; Time: {{ recipe.recipe_time}} mins &nbsp;&nbsp; 
                        <i class="fas fa-edit"></i>&nbsp; Amount fed: {{ recipe.recipe_amount}}
                    </p>
                </div>
            </div>
            <div class="row valign-wrapper col s12">
                    <div class="info card pink darken-4">
                        <div class="card-content white-text">
                            <span class="card-title recipe-box">Instructions:</span>
                            <p class="card-info">{{ recipe.recipe_instructions}}</p>
                        </div>
                    </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}