/* general styles */
/* (https://materializecss.com/footer.html) */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/* */

p{
    font-size: 18px;
}

h2 {
    color: #750c44;
}

/* Home section */
/* Hero image */

.header-section{
    width: 1500px;
    height: 800px;
    position: relative;
}

.hero-image{
    width: 1500px;
    height: 700px;
    position: absolute;
    object-fit: cover;
}

.hero-image-card{
    bottom: 10px;
    right: 290px;
    position: absolute;
}

.card .card-content .card-title {
    margin-bottom: 30px;
}

.card .card-title {
    font-size: 30px;
    font-weight: 490;
}

/* Recipe of the week */

.recipe-box{
    color: #ff9800;
}

.desert{
    border-radius: 10px;
    height: 300px;
    width: 400px;
}

.recipe-description span{
    font-size: 40px;
    color: #750c44;
}

.recipe-description p{
    font-size: 20px;
    color: #3e2723 ;
}