{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div>
            <h2 class="center-align">Recipes</h2>
            <hr>
        </div>
    </div>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for ('add_recipe') }}">

            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" 
                    type="text" class="validate" minlength="3" maxlength="50" required>
                    <label for="recipe_name">Recipe Title</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_description" name="recipe_description" datalength="200" class="materialize-textarea"></textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="recipe_difficulty" name="recipe_difficulty" required>
                        <option value="" disabled selected>Choose Difficulty</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                    </select>
                    <label for="recipe_difficulty">Difficulty</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="recipe_time" name="recipe_time" required>
                        <option value="" disabled selected>How many mins?</option>
                            <option value="030">0-30</option>
                            <option value="3060">30-60</option>
                            <option value="60120">60-120</option>
                            <option value="120180">120-180</option>
                            <option value="180">180 +</option>
                    </select>
                    <label for="recipe_time">Time</label>
                </div>
            </div> 

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="category_id" name="category_id" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.category_title }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_id">Category</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}