{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div>
            <h2 class="center-align">Recipes</h2>
            <hr>
        </div>
    </div>

    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for ('add_recipe') }}">

            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_title" name="recipe_title" 
                    type="text" class="validate" minlength="3" maxlength="50" required>
                    <label for="recipe_title">Recipe Title</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_description" name="recipe_description" 
                    type="text" class="validate" minlength="200" maxlength="50" class="materialize-textarea" required>
                    </textarea>
                    <label for="recipe_title">Recipe Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_description" name="recipe_description" 
                    type="text" class="validate" minlength="200" maxlength="50" class="materialize-textarea" required>
                    </textarea>
                    <label for="recipe_title">Recipe Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="difficulty" name="difficulty" class="validate" required>
                        <option value="" disabled selected>Choose Difficulty</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                    </select>
                    <label for="difficulty">Difficulty</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}