<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Recipe Revolution</title>
</head>
<body>
    <header>

        <!-- navbar adjusted from Materialize (https://materializecss.com/navbar.html) -->
        <nav class="pink darken-4">
            <div class="nav-wrapper">
                <a href="" class="brand-logo">Recipe Revolution</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class=""></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="">Home</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="">Recipes</a></li>
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="">Home</a></li>
            <li><a href="">Categories</a></li>
            <li><a href="">Recipes</a></li>
        </ul>

    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>