{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div>
            <h2 class="center-align">Categories</h2>
            <hr>
        </div>
    </div>
    <div class="container">

        <div class="row">
            {% for category in categories %}
            <div class="col s12 m6">
                <div class="card pink darken-4">
                    <div class="card-content white-text center-align">
                    <span class="card-title">{{ category.category_title}}</span>
                    </div>
                    <div class="card-action center-align">
                    <a class="btn-large orange" href="{{ url_for('edit_categories', category_id=category.id) }}">EDIT</a>
                    <a class="btn-large orange" href="#">DELETE</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <ul class="collapsible center-align pink darken-4">
            <li>
                <div class="collapsible-header pink darken-4">
                    <h5 class="white-text">
                        <i class="far fa-arrow-alt-circle-down orange-text"></i>
                        Add Your Favourite Food Categories
                    </h5>
                </div>
                <div class="collapsible-body">
                    <a href="{{ url_for ('add_categories') }}" class="btn-floating btn-large pulse orange">
                        <i class="fas fa-plus-square"></i>
                    </a>
                </div>
            </li>
        </ul>
    
    </div>
{% endblock %}