{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div>
            <h2 class="center-align">Categories</h2>
            <hr>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col s12 m6">
                <div class="card pink darken-4">
                    <div class="card-content white-text center-align">
                    <span class="card-title">Category</span>
                    </div>
                    <div class="card-action center-align">
                    <a class="btn-large orange" href="#">EDIT</a>
                    <a class="btn-large orange" href="#">DELETE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center-align pink darken-4">
                <h5 class="white-text">Add Your Favourite Food Categories</h5>
                <a href="{{ url_for ('add_categories') }}" class="btn-floating btn-large pulse orange">
                <i class="fas fa-plus-square"></i>
                </a>
            </div>
        </div>
    
    </div>
{% endblock %}